/* debug */

.debug header .header_bottom{
    height: 50px;
    background-color: lightgray;
}

.debug .jambotrom .box_jamb,
.debug main .nuove_uscite .jamb_nv{
    height: 500px;
    background-color: blue;
}

.debug main .box{
    height: 100px;
    background-color: red;
}

.debug main .play5 .box_play5{
    height: 300px;
    background-color: violet;
}

/* fine debug */

header .header_top{
    height: 30px;
    background-color: black;
}

.nuove_uscite{
    background-color: black;
}

